build/
**/build/
target/
out/
bin/
gen/

*.apk
*.ap_
*.aab
*.dex
*.class
*.jar
*.output

output-metadata.json

.idea/
*.iml
.gradle/
local.properties
.externalNativeBuild
.cxx/
captures/

.DS_Store
Thumbs.db
*.log
*.tmp

.konan/
.kotlin/
*.klib